<h1>Bienvenue sur The Gossip Project !</h1>
<% @gossips.each do |gossip| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= gossip.title %></h5>
      <p class="card-text">Auteur : <%= gossip.author.first_name %></p>
      <a href="/gossips/<%= gossip.id %>" class="btn btn-primary">Voir le potin</a>
    </div>
  </div>
<% end %>